/* Header */

header {
    position: fixed;
    width: 100%;
    top: 0;
}

header div.container {
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey);
}

header div.container a img {
    width: 70px;
}

header div.container nav {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@keyframes open {
    0% {
        margin-top: -250px;
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes close {
    0% {
        margin-top: 0px;
        opacity: 1;
    }
    30% {
        opacity: 0;
    }

    100% {
        margin-top: -250px;
        opacity: 0;
    }
}

header div.container nav ul.nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    animation-name: open;
    animation-duration: 1s;
}

header div.container nav ul.nav-ul li a {
    display: inline-block;
    padding: 10px 20px;
    padding-bottom: 5px;
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid;
    border-color: transparent;
    transition: 0.4s;
}

header div.container nav ul.nav-ul li a:hover {
    border-color: var(--yellow);
}

/* hamburguer */

.hamburger {
    display: none;
    border: 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
}

.hamburger:focus {
    outline: none;
}

/* End hamburguer */

/* End Header */


/* Banner */

section.banner {
    background-image: url("../../img/img-cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 70px;
}

section.banner div.container {
    height: calc(100vh - 70px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.7);
}

section.banner div.container h1{
    font-size: 56px;
    color: var(--white);
}

section.banner div.container h1 span{
    color: var(--yellow);
}

section.banner div.container p {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: var(--white);
}

section.banner div.container a button{
    height: 35px;
    width: 100px;
    margin-top: 30px;
    border: 2px solid var(--yellow);
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    color: var(--yellow);
    border-color: var(--yellow);
    background-color: transparent;
}

section.banner div.container a button:hover {
    color: var(--white);
    background-color: var(--yellow);
}
/* End Bannner */

/* About us */

section.about-us {
    padding-bottom: 100px;
    background-color: #fcfcfc;
}

section.about-us div.container {
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

section.about-us div.container div.card {
    width: 350px;
    text-align: center;
}

section.about-us div.container div.card img{
    width: 220px;
}

section.about-us div.container div.card h2 {
    font-weight: 300;
    color: var(--yellow)
}

section.about-us div.container div.card p {
    margin-top: 25px;
}
/* End about us */

/* what-its */

section.what-its {
    padding-bottom: 100px;
}

section.what-its div.container {
    flex-wrap: wrap;
}

section.what-its div.container div.description {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
}

section.what-its div.container div.description img {
    width: 400px;
}

section.what-its div.container div.description p {
    width: 50%;
}

section.what-its div.container div.access {
    width: 100%;
}

section.what-its div.container div.access p {
    margin-right: 13.5%;
    font-size: 18px;
    font-weight: 500;
    text-align: end;
}
/* End what its */

/* How its */

section.how-its {
    padding-bottom: 100px;
    background-color: var(--white);
}

section.how-its div.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section.how-its div.container p {
    width: 80%;
    font-size: 20px;
    text-align: center;
}

section.how-its div.container div.info-grafico img {
    margin-top: 100px;
    width: 1000px;
}

/* End How its */

/* Team */

section.team {
    padding-bottom: 100px;
    flex-direction: column;
}

section.team div.container{
   width: 100%;
   justify-content: center;
}

section.team div.container div.sub-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.team div.container div.sub-container div.card{
    width: max-content;
    text-align: center;
    margin: 5%;
}

section.team div.container div.sub-container div.card img:first-child{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0;
}

section.team div.container div.sub-container div.card img{
    width: 20px;
    margin: 5px 3px 0px 3px;
}

section.team div.container div.sub-container div.card p{
    padding-top: 15px;
    font-size: 18px;
}

/* End of Team*/

/* Footer */
footer {
    display: flex;
    width: 100%;
    min-height: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    background-color: var(--grey);
}

footer div.container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 80%;
    padding: 80px 0px 0px 0px;
}

footer div.container div.text {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    color: var(--white);
}

footer div.container div.text h1 {
    font-size: 28px;
    margin-top: 0;
}

footer div.container div.text h1 span{
    color: var(--yellow);
}

footer div.container div.text p {
    margin: 0;
    width: 90%;
    font-size: 19px;
}

footer div.container div.text div.contacts{
    margin-top: 40px;
}

footer div.container div.text div.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

footer div.container div.text div.contact img {
   width: 22px;
   margin-right: 10px;
}

footer div.container div.text div.contact p{
    font-size: 16px;
}

footer div.container form.form div.inputsRow {
    display: flex;
    width: 101%;
    flex-direction: row;
    justify-content: flex-end;
}

footer div.container form.form {
    display: flex;
    width: 45%;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
}

footer div.container form.form input,
textarea, select {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin: 0;
    padding-left: 15px;
    box-sizing: border-box;
    margin: 0.5%;
}

textarea {
    resize: none;
    min-width: 100%;
    min-height: 170px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    padding-top: 15px;
}

footer div.container form.form button {
    width: 110px;
    height: 40px;
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 50px;
    color: var(--white);
    transition: 0.2s;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

footer div.container form.form button:hover {
    background-color: var(--white);
    color: var(--grey);
    transition: 0.2s;
}

footer p.copyMessage {
    width: 90%;
    font-size: 16px;
    color: var(--white);
    text-align: start;
    margin-bottom: 40px;
}

/* End footer*/


/* Adjustment in responsiveness */

@media (max-width: 910px) {

    /* Menu hamburger */

    #nav-ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    #nav-ul.show {
        display: flex;

    }

    .hamburger {
        display: block;
    }

    .nav-ul li a {
        padding: 10px;
    }

    /* End Menu hamburger */

    /* what-its */
    
    section.what-its div.container div.description img {
        width: 300px;
    }

    section.what-its div.container div.description p {
        width: 90%;
    }

    /* End what-its */
}

/* End Adjustment in responsiveness */

/* Media querys */

.access p a span{
    color: #F3B700;
    background-color: transparent;
}

.access a{
    text-decoration: none;
}


.access a{
    color: black; 
    text-decoration: none;
    transition: 0.5s;
    padding: 15px;
}

.access a:hover{
   background-color: #3b3b3b15;
   border-radius: 9px;
   
}



@media(max-width: 1200px){
    footer div.container{
        flex-direction: column;
        align-items: center;
    }

    footer div.container div.text{
        width: 100%;
    }

    footer div.container div.text h1{
        font-size: 22px;
    }

    footer div.container div.text p{
        font-size: 16px;
    }
    
    footer div.container div.text div.contacts{
        margin-top: 35px;
        margin-bottom: 15px;
    }

    footer div.container div.text div.contact img{
        width: 20px;
    }
    
    footer div.container div.text div.contact p{
        font-size: 14px;
    }

    footer div.container form.form {
        width: 100%;
        align-items: center;
    }

    footer div.container form.form div.inputsRow{
        flex-wrap: wrap;
    }

    footer div.container form.form button{
        width: 100px;
        font-size: 14px;
    }

    footer p.copyMessage{
        width: 90%;
        margin-top: 50px;
        font-size: 14px;
    }
}